name: release
permissions:
  contents: write

on:
  workflow_dispatch:
  workflow_run:
    workflows: ["test"]
    branches: [main]
    types:
      - completed

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
      - name: get gleam and otp versions
        id: tool_versions
        shell: bash
        run: |
          export file=$(cat .tool-versions | sed 's/ /=/g')
          for line in $file; do
            echo $line >> $GITHUB_OUTPUT
          done
      - uses: erlef/setup-beam@8aa8a857c6be0daae6e97272bb299d5b942675a4 # v1
        with:
          otp-version: ${{ steps.tool_versions.outputs.erlang }}
          gleam-version: ${{ steps.tool_versions.outputs.gleam }}
          rebar3-version: "3"
      - name: Get version from gleam.toml
        id: version
        shell: bash
        run: echo $(grep version gleam.toml | sed 's/ //g' | sed 's/"//g') >> $GITHUB_OUTPUT
      - name: Push tag
        id: tag
        shell: bash
        run: |
          git config user.name "${{ github.actor }}"
          git config user.email "${{ github.actor }}@users.noreply.github.com"

          git tag -a v${{ steps.version.outputs.version }} -m ""
          git push origin v${{ steps.version.outputs.version }} && export pushed_tag=true || export pushed_tag=false

          echo "pushed_tag=$pushed_tag" >> $GITHUB_OUTPUT
      - name: Create Github release
        if: steps.tag.outputs.pushed_tag == 'true'
        uses: softprops/action-gh-release@d5382d3e6f2fa7bd53cb749d33091853d4985daf # v2
        with:
          generate_release_notes: true
          make_latest: true
          tag_name: v${{ steps.version.outputs.version }}
      - name: Publish module on hex
        if: steps.tag.outputs.pushed_tag == 'true'
        run: gleam publish --yes
        env:
          HEXPM_USER: ${{ secrets.hex_user }}
          HEXPM_PASS: ${{ secrets.hex_pass }}
