name: test
permissions:
  contents: read

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - name: get gleam and otp versions
        id: tool_versions
        shell: bash
        run: |
          export file=$(cat .tool-versions | sed 's/ /=/g')
          for line in $file; do
            echo $line >> $GITHUB_OUTPUT
          done
      - uses: erlef/setup-beam@e6d7c94229049569db56a7ad5a540c051a010af9 # v1
        with:
          otp-version: ${{ steps.tool_versions.outputs.erlang }}
          gleam-version: ${{ steps.tool_versions.outputs.gleam }}
          rebar3-version: "3"
      - run: gleam deps download
      - run: gleam test
      - run: gleam format --check src test
